---
import Layout from "../layouts/Layout.astro";
import NavigationBar from "../components/NavigationBar.astro";
import Footer from "../components/Footer.astro";
import PillShapeLink from "../components/PillShapeLink.astro";
import IconClose from "../svgs/icons/IconClose.astro";
---

<Layout title="In Trend - Contact us">
  <!-- Note: this div is important for the absolute-positioning of the dialog -->
  <div class="relative z-0">
    <NavigationBar variant="beige" />

    <!-- TODO: add main tag across the whole site -->
    <section class="bg-beige-300">
      <div class="mx-auto max-w-screen-lg">
        <h1 class="pt-20 text-center text-4xl font-medium">Contact us</h1>
        <p class="mt-4 text-center">
          Book a call or email us on:
          <a class="font-bold" href="mailto:hello@in-trend-ltd.com">
            hello@in-trend-ltd.com
          </a>
        </p>

        <div class="mt-12 grid gap-4 pb-20 md:grid-cols-2">
          <div class="overflow-hidden rounded-3xl border border-brown-600/20">
            <h2 class="mx-8 mt-6 text-2xl font-light uppercase">
              Quick question
            </h2>
            <!-- TODO: change this to be a button or use role="button" -->
            <div class="mx-8 mt-6">
              <PillShapeLink
                variant="dark"
                title="Fill in a form"
                href="#"
                isButton={true}
                class="fill-in-a-form-button"
              />
            </div>
            <img
              src=`${import.meta.env.BASE_URL}images/contact-us/quick-question.jpg`
              alt=""
              class="mt-12 max-h-60 w-full object-cover"
            />
          </div>
          <div class="overflow-hidden rounded-3xl border border-brown-600/20">
            <h2 class="mx-8 mt-6 text-2xl font-light uppercase">Book now</h2>
            <!-- TODO: change this to be a button or use role="button" -->
            <div class="mx-8 mt-6">
              <PillShapeLink variant="dark" title="Fill in a form" href="#" />
            </div>
            <img
              src=`${import.meta.env.BASE_URL}images/contact-us/30-minute-chat.jpg`
              alt=""
              class="mt-12 max-h-60 w-full object-cover"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- TODO: where should this go? lol -->
    <!-- This is absolute positioned-->
    <!-- TODO: add javascript for this part-->
    <!-- TODO: disable sticky when dialog is opened-->
    <!-- TODO: disable scrolling when opened?-->
    <!-- TODO: add aria expanded -->
    <!-- TODO: (important) this thing is supposed to send an email lol -->
    <div class="contact-us-form absolute inset-0 z-10 hidden bg-black/50 px-4">
      <form
        action="mailto:hello@in-trend-ltd.com"
        method="post"
        class="relative z-0 mx-auto mt-24 max-w-screen-lg rounded-xl bg-beige-300 px-8 pb-12 pt-8 md:px-16"
      >
        <p class="text-xl uppercase text-brown-600 md:text-2xl">
          Quick question
        </p>
        <button
          class="contact-us-form-close-button absolute right-4 top-7 z-10"
          type="button"
        >
          <IconClose class="h-8 w-8 text-brown-600" />
        </button>

        <div class="mt-14 grid gap-12 md:grid-cols-2 md:gap-28">
          <div class="grid gap-12">
            <div>
              <!-- TODO: disable autocomplete -->
              <label
                class="text-sm uppercase text-rock-200 md:text-base"
                for="name">Name</label
              >
              <input
                class="mt-3 block w-full border-b border-brown-600/20 bg-transparent outline-none"
                type="text"
                name="name"
                id="name"
              />
            </div>
            <div>
              <label
                class="text-sm uppercase text-rock-200 md:text-base"
                for="company">Company</label
              >
              <input
                class="mt-3 block w-full border-b border-brown-600/20 bg-transparent outline-none"
                type="text"
                name="company"
                id="company"
              />
            </div>
            <div>
              <label
                class="text-sm uppercase text-rock-200 md:text-base"
                for="phone_number">Phone number</label
              >
              <input
                class="mt-3 block w-full border-b border-brown-600/20 bg-transparent outline-none"
                type="tel"
                name="phone_number"
                id="phone_number"
              />
            </div>
            <div>
              <label
                class="text-sm uppercase text-rock-200 md:text-base"
                for="email">Email</label
              >
              <input
                class="mt-3 block w-full border-b border-brown-600/20 bg-transparent outline-none"
                type="email"
                name="email"
                id="email"
              />
            </div>
          </div>
          <div class="flex flex-col justify-between gap-12">
            <div>
              <label
                class="text-sm uppercase text-rock-200 md:text-base"
                for="message">Message</label
              >
              <textarea
                class="mt-3 block w-full resize-none border-b border-brown-600/20 bg-transparent outline-none"
                name="message"
                id="message"
                rows="5"></textarea>
            </div>

            <!-- TODO: this should be role button -->
            <div>
              <PillShapeLink
                href="#"
                title="Submit message"
                variant="dark"
                isButton={true}
              />
            </div>
          </div>
        </div>
      </form>
    </div>

    <Footer />
  </div>
</Layout>

<script>
  const fillInAFormButton = document.querySelector(
    ".fill-in-a-form-button"
  ) as HTMLButtonElement;

  const contactUsForm = document.querySelector(
    ".contact-us-form"
  ) as HTMLDivElement;

  const contactUsFormCloseButton = document.querySelector(
    ".contact-us-form-close-button"
  ) as HTMLDivElement;

  fillInAFormButton.addEventListener("click", () => {
    contactUsForm.classList.toggle("hidden");
  });

  contactUsFormCloseButton.addEventListener("click", () => {
    contactUsForm.classList.toggle("hidden");
  });
</script>
