---
import ExpertizeCard from "../components/ExpertizeCard.astro";
import Footer from "../components/Footer.astro";
import NavigationBar from "../components/NavigationBar.astro";
import PillShapeLink from "../components/PillShapeLink.astro";
import ReportSection from "../components/ReportsSection.astro";
import TestimonialSection from "../components/TestimonialsSection.astro";
import Layout from "../layouts/Layout.astro";
import LogoBioderma from "../svgs/companies/LogoBioderma.astro";
import LogoBuxom from "../svgs/companies/LogoBuxom.astro";
import LogoChanel from "../svgs/companies/LogoChanel.astro";
import LogoCoty from "../svgs/companies/LogoCoty.astro";
import LogoFilorga from "../svgs/companies/LogoFilorga.astro";
import LogoHenkel from "../svgs/companies/LogoHenkel.astro";
import LogoLauraMercier from "../svgs/companies/LogoLauraMercier.astro";
import LogoLoreal from "../svgs/companies/LogoLoreal.astro";
import LogoLVMH from "../svgs/companies/LogoLVMH.astro";
import LogoMerck from "../svgs/companies/LogoMerck.astro";
import LogoPuig from "../svgs/companies/LogoPuig.astro";
import LogoUnilever from "../svgs/companies/LogoUnilever.astro";
import Logo from "../svgs/Logo.astro";
---

<Layout title="In Trend - The future of beauty">
  <NavigationBar variant="transparent" />

  <main>
    <section class="relative z-0">
      <!-- TODO: add image alt-->
      <!-- TODO: add image lazy-loading-->
      <!-- TODO: add image width and height to prevent layout shifting-->
      <!-- TODO: add fonts to this website-->
      <!-- TODO: (important) this image should come from the Slack zip file-->
      <!-- TODO: make this a single image?-->
      <picture>
        <source
          srcset="images/index/main-desktop.jpg"
          media="(min-width: 640px)"
        />
        <img
          src="images/index/main-mobile.jpg"
          class="absolute left-0 top-0 -z-10 h-full w-full object-cover"
          alt=""
        />
      </picture>
      <div class="pt-40 sm:pt-80">
        <Logo class="mx-auto h-10 w-auto text-white sm:h-14" />
      </div>
      <!-- TODO: do we need to 'trend' this on mobile? -->
      <h1
        class="mx-auto mt-6 max-w-screen-lg break-words px-2 text-center text-6xl tracking-wider text-white sm:text-7xl"
      >
        Your beauty <span class="hidden sm:inline">trend</span> ideation and intelligence
        partner
      </h1>
      <p
        class="mt-6 text-center font-light tracking-wide text-white sm:mt-8 sm:text-lg"
      >
        We create for you, with you
      </p>
      <div class="mt-6 pb-20 text-center sm:pb-48">
        <PillShapeLink href="#" variant="light" title="Find out more" />
      </div>
    </section>

    <!-- TODO: should we make the wrapper-div of this stuff separate? -->
    <ReportSection isMainPage={true} />

    <section class="bg-beige-300">
      <div class="mx-auto max-w-screen-lg">
        <h2
          class="pt-10 text-center text-2xl font-medium capitalize tracking-wide text-brown-600 md:pt-40 md:text-3xl"
        >
          In-Trend expertize
        </h2>
        <div class="mt-8 flex flex-wrap justify-center gap-2">
          <span
            class="inline-block rounded-full border border-brown-600/10 px-6 py-2 text-sm font-semibold text-brown-600"
          >
            Beauty Tracking
          </span>
          <span
            class="inline-block rounded-full border border-brown-600/10 px-6 py-2 text-sm font-semibold text-brown-600"
          >
            Beauty Forecasting
          </span>
          <span
            class="inline-block rounded-full border border-brown-600/10 px-6 py-2 text-sm font-semibold text-brown-600"
          >
            Ideation Workshops
          </span>
        </div>

        <div class="mt-6 grid gap-6 md:mt-10 md:grid-cols-3 md:gap-10">
          <ExpertizeCard
            imgSrc="images/index/expertize/100-focused-on-beauty.jpg"
            title="100% focused on beauty"
            description="Analysis of all things make-up, skincare, hair, wellness, fragrance, packaging, nail, body care, salon and spa - with an edge for aesthetic medicine and professional treatments"
          />
          <ExpertizeCard
            imgSrc="images/index/expertize/worldwide-network-of-experts.jpg"
            title="Worldwide network of experts"
            description="Expansive connections with professionals (hairstylists, make-up artists, estheticians etc.) and experts (entrepreneurs, freelancers) across the world"
          />
          <ExpertizeCard
            imgSrc="images/index/expertize/strong-credentials.jpg"
            title="Strong credentials"
            description="Almost two decades of experience helping industry leaders grow"
          />
        </div>

        <div class="mt-6 text-center">
          <PillShapeLink href="#" title="Schedule a call" variant="dark" />
        </div>
      </div>

      <!-- Reference: Coding with Roby, https://www.youtube.com/watch?v=nAjR0Oj0J8E -->
      <div class="mt-14 flex gap-8 overflow-x-hidden pb-20 md:mt-20 md:pb-44">
        <div class="inline-flex animate-slide gap-8">
          <!-- TODO: some logos are bigger than they should lol -->
          <LogoLVMH class="h-10 w-auto shrink-0 md:h-8" />
          <LogoUnilever class="h-10 w-auto shrink-0 md:h-8" />
          <LogoLoreal class="h-10 w-auto shrink-0 md:h-8" />
          <LogoMerck class="h-10 w-auto shrink-0 md:h-8" />
          <LogoBioderma class="h-10 w-auto shrink-0 md:h-8" />
          <LogoHenkel class="h-10 w-auto shrink-0 md:h-8" />
          <LogoChanel class="h-10 w-auto shrink-0 md:h-8" />
          <LogoFilorga class="h-10 w-auto shrink-0 md:h-8" />
          <LogoBuxom class="h-10 w-auto shrink-0 md:h-8" />
          <LogoLauraMercier class="h-10 w-auto shrink-0 md:h-8" />
          <LogoPuig class="h-10 w-auto shrink-0 md:h-8" />
          <LogoCoty class="h-10 w-auto shrink-0 md:h-8" />
        </div>
        <div class="inline-flex animate-slide gap-8">
          <!-- TODO: some logos are bigger than they should lol -->
          <LogoLVMH class="h-10 w-auto shrink-0 md:h-8" />
          <LogoUnilever class="h-10 w-auto shrink-0 md:h-8" />
          <LogoLoreal class="h-10 w-auto shrink-0 md:h-8" />
          <LogoMerck class="h-10 w-auto shrink-0 md:h-8" />
          <LogoBioderma class="h-10 w-auto shrink-0 md:h-8" />
          <LogoHenkel class="h-10 w-auto shrink-0 md:h-8" />
          <LogoChanel class="h-10 w-auto shrink-0 md:h-8" />
          <LogoFilorga class="h-10 w-auto shrink-0 md:h-8" />
          <LogoBuxom class="h-10 w-auto shrink-0 md:h-8" />
          <LogoLauraMercier class="h-10 w-auto shrink-0 md:h-8" />
          <LogoPuig class="h-10 w-auto shrink-0 md:h-8" />
          <LogoCoty class="h-10 w-auto shrink-0 md:h-8" />
        </div>
        <div class="inline-flex animate-slide gap-8">
          <!-- TODO: some logos are bigger than they should lol -->
          <LogoLVMH class="h-10 w-auto shrink-0 md:h-8" />
          <LogoUnilever class="h-10 w-auto shrink-0 md:h-8" />
          <LogoLoreal class="h-10 w-auto shrink-0 md:h-8" />
          <LogoMerck class="h-10 w-auto shrink-0 md:h-8" />
          <LogoBioderma class="h-10 w-auto shrink-0 md:h-8" />
          <LogoHenkel class="h-10 w-auto shrink-0 md:h-8" />
          <LogoChanel class="h-10 w-auto shrink-0 md:h-8" />
          <LogoFilorga class="h-10 w-auto shrink-0 md:h-8" />
          <LogoBuxom class="h-10 w-auto shrink-0 md:h-8" />
          <LogoLauraMercier class="h-10 w-auto shrink-0 md:h-8" />
          <LogoPuig class="h-10 w-auto shrink-0 md:h-8" />
          <LogoCoty class="h-10 w-auto shrink-0 md:h-8" />
        </div>
        <div class="inline-flex animate-slide gap-8">
          <!-- TODO: some logos are bigger than they should lol -->
          <LogoLVMH class="h-10 w-auto shrink-0 md:h-8" />
          <LogoUnilever class="h-10 w-auto shrink-0 md:h-8" />
          <LogoLoreal class="h-10 w-auto shrink-0 md:h-8" />
          <LogoMerck class="h-10 w-auto shrink-0 md:h-8" />
          <LogoBioderma class="h-10 w-auto shrink-0 md:h-8" />
          <LogoHenkel class="h-10 w-auto shrink-0 md:h-8" />
          <LogoChanel class="h-10 w-auto shrink-0 md:h-8" />
          <LogoFilorga class="h-10 w-auto shrink-0 md:h-8" />
          <LogoBuxom class="h-10 w-auto shrink-0 md:h-8" />
          <LogoLauraMercier class="h-10 w-auto shrink-0 md:h-8" />
          <LogoPuig class="h-10 w-auto shrink-0 md:h-8" />
          <LogoCoty class="h-10 w-auto shrink-0 md:h-8" />
        </div>
      </div>
    </section>

    <!-- TODO: should we make this into a separate folder? -->
    <TestimonialSection />
  </main>

  <!-- TODO: fix footer -->

  <!-- TODO: add code snippet reference -->
  <!-- <h1>HTML Form That Opens Email Client</h1>
  <p>
    This form opens up the submitter's email client, prompting them to send you
    a copy of their responses.
  </p>
  <form
    action="mailto:contact@yourdomain.com"
    method="POST"
    enctype="text/plain"
    name="EmailForm"
  >
    <label for="name">Name:</label><br />
    <input type="text" id="name" name="name" /><br />

    <label for="ContactCommentt">Message:</label><br />
    <textarea id="ContactCommentt" name="message" rows="”6″" cols="”20″"
    ></textarea>

    <input type="submit" value="Send" />
  </form> -->
  <Footer />
</Layout>
