---
import Layout from "../layouts/Layout.astro";
import IconArrowLarge from "../svgs/IconArrowLarge.astro";
import IconClose from "../svgs/IconClose.astro";
import IconHamburger from "../svgs/IconHamburger.astro";
import IconSearch from "../svgs/IconSearch.astro";
import Logo from "../svgs/Logo.astro";
---

<Layout title="In Trend - The future of beauty">
  <header class="fixed left-0 top-0 z-10 w-full">
    <div
      class="flex items-center justify-between bg-white/20 px-5 py-5 backdrop-blur"
    >
      <Logo class="h-6 w-auto text-white" />

      <div class="flex items-center gap-2">
        <button>
          <IconHamburger class="h-7 w-7 text-white" />
          <span class="sr-only">Toggle Menu</span>
        </button>

        <button>
          <!-- TODO: what is this search icon for? -->
          <IconSearch class="h-6 w-6 text-white" />
          <span class="sr-only">Search</span>
        </button>
      </div>
    </div>

    <!-- TODO: menu absolute or fixed? -->
    <nav class="hidden">
      <a href="#">Meet the team</a>
      <a href="#">Our services</a>
      <a href="#">Contact us</a>
      <IconClose />
    </nav>
  </header>

  <main>
    <section class="relative z-0">
      <!-- TODO: add image alt-->
      <!-- TODO: add image width and height to prevent layout shifting-->
      <img
        src="images/homepage-main.jpg"
        class="absolute left-0 top-0 -z-10 h-full w-full object-cover"
        alt=""
      />
      <div class="pt-40">
        <Logo class="mx-auto h-10 w-auto text-white" />
      </div>
      <!-- TODO: do we need to 'trend' this on mobile? -->
      <h1
        class="mt-6 break-words px-2 text-center text-6xl tracking-wider text-white"
      >
        Your beauty <span class="hidden sm:inline">trend</span> ideation and intelligence
        partner
      </h1>
      <p class="mt-6 text-center font-light tracking-wide text-white">
        We create for you, with you
      </p>
      <div class="pb-20 text-center">
        <a
          href="#"
          class="mt-6 inline-flex items-center gap-20 rounded-full border border-white py-3 pl-6 pr-3"
        >
          <span class="text-sm font-semibold uppercase text-white"
            >Find out more</span
          >
          <IconArrowLarge class="text-white" />
        </a>
      </div>
    </section>

    <section class="bg-beige-400 px-4">
      <h2
        class="pt-12 text-center text-2xl font-medium leading-tight tracking-wide text-brown-600"
      >
        What we're doing, where we are, what's going on?
      </h2>
      <p class="mb-12 mt-4 text-center text-sm font-light text-brown-600">
        Take a sneak peek at our latest reports, the trade shows we've been to,
        the events we've attended etc.
      </p>

      <article class="mb-80">
        <div>
          <img src="images/the-future-of-lip.jpg" />
          <div>Report</div>
        </div>
        <div class="bg-beige-300">
          <h2 class="font-serif text-xl">Quarterly Report: Q3</h2>
          <p>
            Having a strong lip portfolio is more important than ever, as this
            product category proves time and time again its
            recession-resilience. This report contains emerging textures and
            finishes, growing ingredients, how to address future lip
            beautification challenges and trends that will shape the category
            from 2023 and beyond.
          </p>
          <a>
            <span>Find out more</span>
            <IconArrowLarge />
          </a>
        </div>
      </article>
    </section>
  </main>

  <footer></footer>
</Layout>
