---
export const prerender = true;

import ExpertizeCard from "../components/ExpertizeCard.astro";
import Footer from "../components/Footer.astro";
import MainHeroSection from "../components/MainHeroSection.astro";
import NavigationBar from "../components/NavigationBar.astro";
import PillShapeLink from "../components/PillShapeLink.astro";
import ReportSection from "../components/ReportsSection.astro";
import TestimonialSection from "../components/TestimonialsSection.astro";
import Layout from "../layouts/Layout.astro";
import LogoBioderma from "../svgs/companies/LogoBioderma.astro";
import LogoBuxom from "../svgs/companies/LogoBuxom.astro";
import LogoChanel from "../svgs/companies/LogoChanel.astro";
import LogoCoty from "../svgs/companies/LogoCoty.astro";
import LogoFilorga from "../svgs/companies/LogoFilorga.astro";
import LogoHenkel from "../svgs/companies/LogoHenkel.astro";
import LogoLauraMercier from "../svgs/companies/LogoLauraMercier.astro";
import LogoLoreal from "../svgs/companies/LogoLoreal.astro";
import LogoLVMH from "../svgs/companies/LogoLVMH.astro";
import LogoMerck from "../svgs/companies/LogoMerck.astro";
import LogoPuig from "../svgs/companies/LogoPuig.astro";
import LogoUnilever from "../svgs/companies/LogoUnilever.astro";
---

<Layout
  title="In-Trend | The Future of Beauty"
  description="In-Trend is your beauty trend ideation and intelligence partner. Experts in skincare, makeup, hair, aesthetic medicine, wellness and all other beauty categories - In-Trend has decades of experience in helping brands succeed."
>
  <NavigationBar variant="transparent" />

  <main>
    <MainHeroSection />

    <!-- TODO: should we make the wrapper-div of this stuff separate? -->
    <ReportSection />

    <section class="bg-beige-300">
      <div class="mx-auto max-w-screen-lg">
        <h2
          class="pt-10 text-center text-2xl font-bold text-brown-600 md:pt-40 md:text-3xl"
        >
          Our Expertize
        </h2>
        <div class="mt-8 flex flex-wrap justify-center gap-2">
          <span
            class="inline-block rounded-full border border-brown-600/10 px-6 py-2 text-sm font-bold text-brown-600 md:px-9"
          >
            Beauty Tracking
          </span>
          <span
            class="inline-block rounded-full border border-brown-600/10 px-6 py-2 text-sm font-bold text-brown-600 md:px-9"
          >
            Beauty Forecasting
          </span>
          <span
            class="inline-block rounded-full border border-brown-600/10 px-6 py-2 text-sm font-bold text-brown-600 md:px-9"
          >
            Ideation Workshops
          </span>
        </div>

        <div class="mt-6 grid gap-6 md:mt-10 md:grid-cols-3 md:gap-10">
          <ExpertizeCard
            imgSrc="/images/index/expertize/100-focused-on-beauty.jpg"
            title="100% focused on beauty"
            description="Analysis of all things make-up, skincare, hair, wellness, fragrance, packaging, nail, body care, salon and spa - with an edge for aesthetic medicine and professional treatments"
          />
          <ExpertizeCard
            imgSrc="/images/index/expertize/strong-credentials.jpg"
            title="Strong credentials"
            description="Almost two decades of experience helping industry leaders grow"
          />
          <ExpertizeCard
            imgSrc="/images/index/expertize/worldwide-network-of-experts.jpg"
            title="Worldwide network of experts"
            description="Expansive connections with professionals (hairstylists, make-up artists, estheticians etc.) and experts (entrepreneurs, freelancers) across the world"
          />
        </div>

        <div class="mt-6 text-center">
          <PillShapeLink
            href="https://calendly.com/aj-intrend/30min"
            target="_blank"
            title="Schedule a call"
            variant="dark"
          />
        </div>
      </div>

      <!-- TODO: make this into a component -->
      <!-- Reference: Coding with Roby, https://www.youtube.com/watch?v=nAjR0Oj0J8E -->
      <div class="mt-14 flex gap-8 overflow-x-hidden pb-20 md:mt-20 md:pb-44">
        <div class="inline-flex animate-slide gap-8">
          <!-- TODO: some logos are bigger than they should lol -->
          <LogoLVMH class="h-10 w-auto shrink-0 md:h-8" />
          <LogoUnilever class="h-10 w-auto shrink-0 md:h-8" />
          <LogoLoreal class="h-10 w-auto shrink-0 md:h-8" />
          <LogoMerck class="h-10 w-auto shrink-0 md:h-8" />
          <LogoBioderma class="h-10 w-auto shrink-0 md:h-8" />
          <LogoHenkel class="h-10 w-auto shrink-0 md:h-8" />
          <LogoChanel class="h-10 w-auto shrink-0 md:h-8" />
          <LogoFilorga class="h-10 w-auto shrink-0 md:h-8" />
          <LogoBuxom class="h-10 w-auto shrink-0 md:h-8" />
          <LogoLauraMercier class="h-10 w-auto shrink-0 md:h-8" />
          <LogoPuig class="h-10 w-auto shrink-0 md:h-8" />
          <LogoCoty class="h-10 w-auto shrink-0 md:h-8" />
        </div>
        <div class="inline-flex animate-slide gap-8">
          <!-- TODO: some logos are bigger than they should lol -->
          <LogoLVMH class="h-10 w-auto shrink-0 md:h-8" />
          <LogoUnilever class="h-10 w-auto shrink-0 md:h-8" />
          <LogoLoreal class="h-10 w-auto shrink-0 md:h-8" />
          <LogoMerck class="h-10 w-auto shrink-0 md:h-8" />
          <LogoBioderma class="h-10 w-auto shrink-0 md:h-8" />
          <LogoHenkel class="h-10 w-auto shrink-0 md:h-8" />
          <LogoChanel class="h-10 w-auto shrink-0 md:h-8" />
          <LogoFilorga class="h-10 w-auto shrink-0 md:h-8" />
          <LogoBuxom class="h-10 w-auto shrink-0 md:h-8" />
          <LogoLauraMercier class="h-10 w-auto shrink-0 md:h-8" />
          <LogoPuig class="h-10 w-auto shrink-0 md:h-8" />
          <LogoCoty class="h-10 w-auto shrink-0 md:h-8" />
        </div>
        <div class="inline-flex animate-slide gap-8">
          <!-- TODO: some logos are bigger than they should lol -->
          <LogoLVMH class="h-10 w-auto shrink-0 md:h-8" />
          <LogoUnilever class="h-10 w-auto shrink-0 md:h-8" />
          <LogoLoreal class="h-10 w-auto shrink-0 md:h-8" />
          <LogoMerck class="h-10 w-auto shrink-0 md:h-8" />
          <LogoBioderma class="h-10 w-auto shrink-0 md:h-8" />
          <LogoHenkel class="h-10 w-auto shrink-0 md:h-8" />
          <LogoChanel class="h-10 w-auto shrink-0 md:h-8" />
          <LogoFilorga class="h-10 w-auto shrink-0 md:h-8" />
          <LogoBuxom class="h-10 w-auto shrink-0 md:h-8" />
          <LogoLauraMercier class="h-10 w-auto shrink-0 md:h-8" />
          <LogoPuig class="h-10 w-auto shrink-0 md:h-8" />
          <LogoCoty class="h-10 w-auto shrink-0 md:h-8" />
        </div>
        <div class="inline-flex animate-slide gap-8">
          <!-- TODO: some logos are bigger than they should lol -->
          <LogoLVMH class="h-10 w-auto shrink-0 md:h-8" />
          <LogoUnilever class="h-10 w-auto shrink-0 md:h-8" />
          <LogoLoreal class="h-10 w-auto shrink-0 md:h-8" />
          <LogoMerck class="h-10 w-auto shrink-0 md:h-8" />
          <LogoBioderma class="h-10 w-auto shrink-0 md:h-8" />
          <LogoHenkel class="h-10 w-auto shrink-0 md:h-8" />
          <LogoChanel class="h-10 w-auto shrink-0 md:h-8" />
          <LogoFilorga class="h-10 w-auto shrink-0 md:h-8" />
          <LogoBuxom class="h-10 w-auto shrink-0 md:h-8" />
          <LogoLauraMercier class="h-10 w-auto shrink-0 md:h-8" />
          <LogoPuig class="h-10 w-auto shrink-0 md:h-8" />
          <LogoCoty class="h-10 w-auto shrink-0 md:h-8" />
        </div>
      </div>
    </section>

    <!-- TODO: should we make this into a separate folder? -->
    <TestimonialSection />
  </main>

  <!-- TODO: fix footer -->

  <!-- TODO: add code snippet reference -->
  <!-- <h1>HTML Form That Opens Email Client</h1>
  <p>
    This form opens up the submitter's email client, prompting them to send you
    a copy of their responses.
  </p>
  <form
    action="mailto:contact@yourdomain.com"
    method="POST"
    enctype="text/plain"
    name="EmailForm"
  >
    <label for="name">Name:</label><br />
    <input type="text" id="name" name="name" /><br />

    <label for="ContactCommentt">Message:</label><br />
    <textarea id="ContactCommentt" name="message" rows="”6″" cols="”20″"
    ></textarea>

    <input type="submit" value="Send" />
  </form> -->
  <Footer />
</Layout>
