---
import PillShapeLink from "../components/PillShapeLink.astro";
import ReportCard from "../components/ReportCard.astro";
import Layout from "../layouts/Layout.astro";
import IconClose from "../svgs/IconClose.astro";
import IconHamburger from "../svgs/IconHamburger.astro";
import IconSearch from "../svgs/IconSearch.astro";
import Logo from "../svgs/Logo.astro";
---

<Layout title="In Trend - The future of beauty">
  <header class="fixed left-0 top-0 z-10 w-full">
    <div
      class="flex items-center justify-between bg-white/20 px-5 py-5 backdrop-blur"
    >
      <Logo class="h-6 w-auto text-white" />

      <div class="flex items-center gap-2">
        <button>
          <IconHamburger class="h-7 w-7 text-white" />
          <span class="sr-only">Toggle Menu</span>
        </button>

        <button>
          <!-- TODO: what is this search icon for? -->
          <IconSearch class="h-6 w-6 text-white" />
          <span class="sr-only">Search</span>
        </button>
      </div>
    </div>

    <!-- TODO: menu absolute or fixed? -->
    <nav class="hidden">
      <a href="#">Meet the team</a>
      <a href="#">Our services</a>
      <a href="#">Contact us</a>
      <IconClose />
    </nav>
  </header>

  <main>
    <section class="relative z-0">
      <!-- TODO: add image alt-->
      <!-- TODO: add image width and height to prevent layout shifting-->
      <img
        src="images/homepage-main.jpg"
        class="absolute left-0 top-0 -z-10 h-full w-full object-cover"
        alt=""
      />
      <div class="pt-40">
        <Logo class="mx-auto h-10 w-auto text-white" />
      </div>
      <!-- TODO: do we need to 'trend' this on mobile? -->
      <h1
        class="mt-6 break-words px-2 text-center text-6xl tracking-wider text-white"
      >
        Your beauty <span class="hidden sm:inline">trend</span> ideation and intelligence
        partner
      </h1>
      <p class="mt-6 text-center font-light tracking-wide text-white">
        We create for you, with you
      </p>
      <div class="pb-20 text-center">
        <PillShapeLink href="#" variant="light" title="Find out more" />
      </div>
    </section>

    <section class="bg-beige-400 px-4">
      <h2
        class="pt-12 text-center text-2xl font-medium leading-tight tracking-wide text-brown-600"
      >
        What we're doing, where we are, what's going on?
      </h2>
      <p class="mt-4 text-center text-sm font-light text-brown-600">
        Take a sneak peek at our latest reports, the trade shows we've been to,
        the events we've attended etc.
      </p>

      <div class="mt-12 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        <ReportCard
          imgSrc="images/clean-beauty-in-london.jpg"
          sectionTitle="Out and about"
          title="Clean beauty in london"
          description="Annie spent the day at the Clean Beauty in London show at The Brewery near the Barbican. We loved how much Solid Beauty was on show - it truly has gone from eco-necessity to a product to be enjoyed."
          linkTitle="Find out more"
          href="#"
        />
        <!-- TODO: host the PDF file on github -->
        <ReportCard
          imgSrc="images/the-future-of-lip.jpg"
          sectionTitle="Report"
          title="Quarterly report: Q3"
          description="Having a strong lip portfolio is more important than ever, as this product category proves time and time again its recession-resilience. This report contains emerging textures and finishes, growing ingredients, how to address future lip beautification challenges and trends that will shape the category from 2023 and beyond."
          linkTitle="Download pdf"
          href="#"
        />
        <ReportCard
          imgSrc="images/salon-smart-networking-and-speak-event.jpg"
          sectionTitle="Out and about"
          title="Salon smart networking and speak event"
          description="Emmanuelle headed down to Salon Smart last month. A business event for hair professionals, it was great to hear about the challenges hairdressers face, and meet lots of creatives."
          linkTitle="Find out more"
          href="#"
        />
      </div>
    </section>
  </main>

  <footer></footer>
</Layout>
