---
import ExpertizeCard from "../components/ExpertizeCard.astro";
import Footer from "../components/Footer.astro";
import NavigationBar from "../components/NavigationBar.astro";
import PillShapeLink from "../components/PillShapeLink.astro";
import ReportCard from "../components/ReportCard.astro";
import TestimonialCard from "../components/TestimonialCard.astro";
import Layout from "../layouts/Layout.astro";
import LogoBioderma from "../svgs/companies/LogoBioderma.astro";
import LogoBuxom from "../svgs/companies/LogoBuxom.astro";
import LogoChanel from "../svgs/companies/LogoChanel.astro";
import LogoChristianDior from "../svgs/companies/LogoChristianDior.astro";
import LogoCoty from "../svgs/companies/LogoCoty.astro";
import LogoFilorga from "../svgs/companies/LogoFilorga.astro";
import LogoHenkel from "../svgs/companies/LogoHenkel.astro";
import LogoLauraMercier from "../svgs/companies/LogoLauraMercier.astro";
import LogoLoreal from "../svgs/companies/LogoLoreal.astro";
import LogoLVMH from "../svgs/companies/LogoLVMH.astro";
import LogoMerck from "../svgs/companies/LogoMerck.astro";
import LogoPuig from "../svgs/companies/LogoPuig.astro";
import LogoUnilever from "../svgs/companies/LogoUnilever.astro";
import Logo from "../svgs/Logo.astro";
---

<Layout title="In Trend - The future of beauty">
  <NavigationBar variant="transparent" />

  <main>
    <section class="relative z-0">
      <!-- TODO: add image alt-->
      <!-- TODO: add image lazy-loading-->
      <!-- TODO: add image width and height to prevent layout shifting-->
      <img
        src="images/index/main.jpg"
        class="absolute left-0 top-0 -z-10 h-full w-full object-cover"
        alt=""
      />
      <div class="pt-40">
        <Logo class="mx-auto h-10 w-auto text-white" />
      </div>
      <!-- TODO: do we need to 'trend' this on mobile? -->
      <h1
        class="mt-6 break-words px-2 text-center text-6xl tracking-wider text-white"
      >
        Your beauty <span class="hidden sm:inline">trend</span> ideation and intelligence
        partner
      </h1>
      <p class="mt-6 text-center font-light tracking-wide text-white">
        We create for you, with you
      </p>
      <div class="pb-20 text-center">
        <PillShapeLink href="#" variant="light" title="Find out more" />
      </div>
    </section>

    <section class="bg-beige-400 px-4">
      <h2
        class="pt-12 text-center text-2xl font-medium leading-tight tracking-wide text-brown-600"
      >
        What we're doing, where we are, what's going on?
      </h2>
      <p class="mt-4 text-center text-sm font-light text-brown-600">
        Take a sneak peek at our latest reports, the trade shows we've been to,
        the events we've attended etc.
      </p>

      <div class="mt-12 grid gap-8 pb-14 md:grid-cols-2 lg:grid-cols-3">
        <ReportCard
          imgSrc="images/index/reports/clean-beauty-in-london.jpg"
          sectionTitle="Out and about"
          title="Clean beauty in london"
          description="Annie spent the day at the Clean Beauty in London show at The Brewery near the Barbican. We loved how much Solid Beauty was on show - it truly has gone from eco-necessity to a product to be enjoyed."
          linkTitle="Find out more"
          href="#"
        />
        <!-- TODO: host the PDF file on github -->
        <ReportCard
          imgSrc="images/index/reports/the-future-of-lip.jpg"
          sectionTitle="Report"
          title="Quarterly report: Q3"
          description="Having a strong lip portfolio is more important than ever, as this product category proves time and time again its recession-resilience. This report contains emerging textures and finishes, growing ingredients, how to address future lip beautification challenges and trends that will shape the category from 2023 and beyond."
          linkTitle="Download pdf"
          href="#"
        />
        <ReportCard
          imgSrc="images/index/reports/salon-smart-networking-and-speak-event.jpg"
          sectionTitle="Out and about"
          title="Salon smart networking and speak event"
          description="Emmanuelle headed down to Salon Smart last month. A business event for hair professionals, it was great to hear about the challenges hairdressers face, and meet lots of creatives."
          linkTitle="Find out more"
          href="#"
        />
      </div>
    </section>

    <section class="bg-beige-300">
      <h2
        class="pt-10 text-center text-2xl font-medium capitalize tracking-wide text-brown-600"
      >
        In-Trend expertize
      </h2>
      <div class="mt-6 flex flex-wrap justify-center gap-2">
        <span
          class="inline-block rounded-full border border-brown-600/10 px-6 py-2 text-sm font-semibold text-brown-600"
          >Beauty Tracking</span
        >
        <span
          class="inline-block rounded-full border border-brown-600/10 px-6 py-2 text-sm font-semibold text-brown-600"
          >Beauty Forecasting</span
        >
        <span
          class="inline-block rounded-full border border-brown-600/10 px-6 py-2 text-sm font-semibold text-brown-600"
          >Ideation Workshops</span
        >
      </div>

      <div class="mt-6 grid gap-6 md:grid-cols-3">
        <ExpertizeCard
          imgSrc="images/index/expertize/100-focused-on-beauty.jpg"
          title="100% focused on beauty"
          description="Analysis of all things make-up, skincare, haircare, wellness, fragrance, packaging, nail, body care, salon and spa - with an edge for aesthetic medicine and professional treatments."
        />
        <ExpertizeCard
          imgSrc="images/index/expertize/worldwide-network-of-experts.jpg"
          title="Worldwide network of experts"
          description="Expansive connections with professionals (hairstylists, make-up artists, estheticians etc.) and experts (entrepreneurs, freelancers) across the world"
        />
        <ExpertizeCard
          imgSrc="images/index/expertize/strong-credentials.jpg"
          title="Strong credentials"
          description="Almost two decades of experience helping industry leaders grow"
        />
      </div>

      <div class="text-center">
        <PillShapeLink href="#" title="Schedule a call" variant="dark" />
      </div>

      <div class="mt-14 flex gap-8 overflow-x-hidden pb-20">
        <LogoLVMH class="h-10 w-auto shrink-0" />
        <LogoUnilever class="h-10 w-auto shrink-0" />
        <LogoLoreal class="h-10 w-auto shrink-0" />
        <LogoMerck class="h-10 w-auto shrink-0" />
        <LogoBioderma class="h-10 w-auto shrink-0" />
        <LogoHenkel class="h-10 w-auto shrink-0" />
        <LogoChanel class="h-10 w-auto shrink-0" />
        <LogoFilorga class="h-10 w-auto shrink-0" />
        <LogoBuxom class="h-10 w-auto shrink-0" />
        <LogoLauraMercier class="h-10 w-auto shrink-0" />
        <LogoPuig class="h-10 w-auto shrink-0" />
        <LogoCoty class="h-10 w-auto shrink-0" />
      </div>
    </section>

    <section class="bg-carrot-300 px-4 pt-16">
      <!-- TODO: there's a different image on mobile and on desktop for one testimonial -->
      <div class="grid gap-8 md:grid-cols-3 lg:grid-cols-4">
        <TestimonialCard
          imgSrc="images/index/testimonials/jacques-valero.jpg"
          description="In-Trend is a factory of insights, informing us of the latest product claims and highly precious information to help us innovate. Their emerging new trends are always highly accurate, and very useful."
          author="-Jacques Valero"
          authorJobTitle="Parfums Responsible Innovation"
        >
          <LogoChristianDior class="mx-auto mt-14 h-auto w-40 text-white" />
        </TestimonialCard>
        <TestimonialCard
          imgSrc="images/index/testimonials/kristi-sloe.jpg"
          description="In-Trend LTD is a valued partner in product innovation and trends. Our teams love their inspiring ideation workshops, which are becoming a crucial touchpoint in our product development process."
          author="-Kristi Sloe"
          authorJobTitle="Vice President Global Product Development"
        >
          <LogoLauraMercier class="mx-auto mt-14 h-auto w-40 text-white" />
        </TestimonialCard>
        <TestimonialCard
          imgSrc="images/index/testimonials/isabelle-montferrand.jpg"
          description="In-Trend is a key partner in our innovation monitoring process. For many years, they have supported us in monitoring and decoding beauty innovations. All thanks to an expert, highly responsive and friendly team. Attentive to our needs, they constantly adapt and re-work their proposals and formats. Great relationship."
          author="-Isabelle Montferrand"
          authorJobTitle="Competitive Intelligence Innovation Direction"
        >
          <LogoLoreal class="mx-auto mt-14 h-auto w-40 text-white" />
        </TestimonialCard>
        <TestimonialCard
          imgSrc="images/index/testimonials/edelina-natale.jpg"
          description="In-Trend's reporting on product launches and trends in both the Latin American & Asian hair markets, provides vital insights for our team."
          author="-Edelina Natale"
          authorJobTitle="Innovation & Trend Manager"
        >
          <LogoHenkel class="mx-auto mt-14 h-auto w-24 text-white" />
        </TestimonialCard>
      </div>
    </section>
  </main>

  <Footer />
</Layout>
