---
import Layout from "../layouts/Layout.astro";
import NavigationBar from "../components/NavigationBar.astro";
import PillShapeLink from "../components/PillShapeLink.astro";
import Footer from "../components/Footer.astro";
import EmployeeAndFreelancerSection from "../components/EmployeeAndFreelancerSection.astro";
---

<Layout title="In Trend - Who we are">
  <NavigationBar variant="beige" />

  <EmployeeAndFreelancerSection />

  <section>
    <div class="grid md:grid-cols-2">
      <div class="flex items-center justify-end bg-carrot-200 px-4 py-8">
        <div class="mx-auto max-w-lg md:mr-16">
          <h2 class="text-center text-3xl font-bold text-brown-600">
            Hang Out IRL
          </h2>
          <p class="mt-6 text-center text-brown-600">
            Come hang out in our London office: The Innovation hub of the UK in
            London's coolest neighbourhood* Hackney Wick.
          </p>
          <div class="mt-6 text-center">
            <PillShapeLink variant="dark" title="Come hang out" href="#" />
          </div>
        </div>
      </div>
      <div>
        <!-- TODO: get this thing in 4K -->
        <img
          src=`${import.meta.env.BASE_URL}images/who-we-are/hang-out-irl/here-east.jpg`
          alt=""
          class="h-full w-full object-cover"
        />
      </div>
    </div>
  </section>

  <Footer />
</Layout>
