---
import Layout from "../layouts/Layout.astro";
import NavigationBar from "../components/NavigationBar.astro";
import PillShapeLink from "../components/PillShapeLink.astro";
import Footer from "../components/Footer.astro";
import EmployeeAndFreelancerSection from "../components/EmployeeAndFreelancerSection.astro";
---

<Layout title="In Trend - Who we are">
  <NavigationBar variant="beige" />

  <EmployeeAndFreelancerSection />

  <section>
    <div class="grid md:grid-cols-2">
      <div class="flex items-center justify-end bg-carrot-200 px-4 py-8">
        <div class="mx-auto max-w-lg md:mr-0">
          <h2 class="text-center text-2xl font-medium">Hang Out IRL</h2>
          <p class="mt-6 text-center text-sm font-light">
            Come hang out in our London office: The Innovation hub of the UK in
            London's coolest neighbourhood* Hackney Wick.
          </p>
          <div class="mt-6 text-center">
            <PillShapeLink variant="dark" title="Come hang out" href="#" />
          </div>
        </div>
      </div>
      <div>
        <!-- TODO: get this thing in 4K -->
        <img src="../images/who-we-are/hang-out-irl/here-east.jpg" alt="" />
      </div>
    </div>
  </section>

  <Footer />
</Layout>
