<section class="bg-beige-300">
  <h2
    class="pt-10 text-center text-2xl font-medium tracking-wide text-brown-600"
  >
    Expert Q&A
  </h2>
  <p class="mt-4 px-4 text-center text-sm text-brown-600">
    We ask all of our experts, what would they advise to those trying to get
    into aesthetic medicine.
  </p>
  <p
    class="mt-40 pb-40 text-center text-5xl capitalize tracking-wide text-rock-100"
  >
    Coming soon
  </p>
  <!-- TODO: (IMPORTANT) implement carrousel and activate it when needed  -->
</section>
