<section class="bg-beige-300">
  <h2
    class="pt-10 text-center font-monsterrat text-2xl font-semibold tracking-wide text-brown-600"
  >
    Expert Q&A
  </h2>
  <p class="mt-4 px-4 text-center font-monsterrat text-xs text-brown-600">
    We chatted to some of the most interesting people in the industry
  </p>
  <p
    class="mt-40 pb-40 text-center font-monsterrat text-8xl font-medium capitalize text-rock-100"
  >
    Coming soon
  </p>
  <!-- TODO: (IMPORTANT) implement carrousel and activate it when needed  -->
</section>
