---
import IconArrow from "../svgs/icons/IconArrow.astro";
import EmployeeAndFreelancerCard from "./EmployeeAndFreelancerCard.astro";

let i = 0;
---

<section class="bg-beige-300">
  <div class="mx-auto max-w-screen-xl">
    <h1 class="sr-only">Who we are</h1>

    <!-- TODO: remove this padding -->
    <h2 class="px-5 pt-24 text-center text-xl font-bold md:pt-40 md:text-3xl">
      Some of our Employee and Freelancer Pool
    </h2>

    <div class="mt-12 pb-10 pl-5 md:px-5">
      <div class="splide pb-32" id="employee-and-freelancer-section__carrousel">
        <!-- TODO: improve arrow circle padding and circled border -->
        <!-- TODO: move arrows to the right -->
        <div class="splide__arrows">
          <button class="splide__arrow splide__arrow--prev">
            <IconArrow class="text-black" />
          </button>
          <button class="splide__arrow splide__arrow--next">
            <IconArrow class="text-black" />
          </button>
        </div>

        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <EmployeeAndFreelancerCard
                imgSrc="images/who-we-are/employee-and-freelancer-pool/nazila-amrin.jpg"
                name="Nazila Amrin"
                shortDescription="Monitors all Middle Eastern trends."
                longDescription="Expertise in beauty content creation & makeup educator - loves & swears by The Ordinary, Glow recipe watermelon moisturizer & Glowish range from Huda Beauty"
                smallImage={i++ % 2 == 0}
              />
            </li>
            <li class="splide__slide">
              <EmployeeAndFreelancerCard
                imgSrc="images/who-we-are/employee-and-freelancer-pool/emmanuelle-bassmann.jpg"
                name="Emmanuelle Bassmann"
                shortDescription="Our founder."
                longDescription="Mainly works on aesthetic medicine. Pioneering and multi-cultural. Loves cacao, Bikram yoga and all things microbiome!"
                smallImage={i++ % 2 == 0}
              />
            </li>
            <li class="splide__slide">
              <EmployeeAndFreelancerCard
                imgSrc="images/who-we-are/employee-and-freelancer-pool/annie-johnstone.jpg"
                name="Annie Johnstone"
                shortDescription="Usually stuck into a make-up report."
                longDescription="Passionate and creative. Loves matcha, all things colorful and a tretinoin that packs a punch"
                smallImage={i++ % 2 == 0}
              />
            </li>
            <li class="splide__slide">
              <EmployeeAndFreelancerCard
                imgSrc="images/who-we-are/employee-and-freelancer-pool/soo-min.jpg"
                name="Soo Min"
                shortDescription="Korean freelancer."
                longDescription="Loves genderless beauty, sustainable sustainable makeup & skincare products and is obsessed with the brand Hince."
                smallImage={i++ % 2 == 0}
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .splide__arrow--prev {
    bottom: 0;
    left: 0;
    top: auto;
    border: 1px solid black;
    background: transparent;
  }

  .splide__arrow--next {
    bottom: 0;
    right: 1.25rem;
    top: auto;
    border: 1px solid black;
    background: transparent;
  }

  @media (min-width: 768px) {
    .splide__arrow-next {
      right: 0;
    }
  }
</style>

<script>
  // TODO: add modular stuff
  import { Splide } from "@splidejs/splide";
  import "@splidejs/splide/dist/css/splide.min.css";

  // TODO: (important) disable pause on hover?
  new Splide("#employee-and-freelancer-section__carrousel", {
    type: "loop",
    gap: "4rem",
    interval: 5000,
    autoplay: true,
    pagination: false,
    arrows: true,
    autoWidth: true,
    flickPower: 100,
  }).mount();
</script>
