---
interface Props {
  imgSrc: string;
  name: string;
  shortDescription: string;
  longDescription: string;
  smallImage: boolean;
}
const { imgSrc, name, shortDescription, longDescription, smallImage } =
  Astro.props;
---

<div class=`${smallImage ? "w-40 md:w-64" : "w-64"}`>
  <img
    src={imgSrc}
    alt=""
    class=`rounded-xl object-cover ${smallImage ? "w-40" : "w-64"}`
  />
  <h3 class="mt-6 font-serif text-2xl">{name}</h3>
  <p class="mt-1 font-light text-rock-200">
    <span class="font-bold">{shortDescription}</span>
    {longDescription}
  </p>
</div>
