---
import IconArrowLeftRounded from "../svgs/icons/IconArrowLeftRounded.astro";
import IconArrowRightRounded from "../svgs/icons/IconArrowRightRounded.astro";
import EmployeeAndFreelancerCard from "./EmployeeAndFreelancerCard.astro";
---

<section class="bg-beige-300">
  <div class="mx-auto max-w-screen-xl">
    <h1 class="sr-only">Who we are</h1>

    <!-- TODO: remove this padding -->
    <h2 class="px-5 pt-24 text-center text-xl font-bold md:pt-40 md:text-3xl">
      Some of our Employee and Freelancer Pool
    </h2>

    <div class="mt-12 pb-10 pl-5 md:px-5">
      <div class="swiper" id="employee-and-freelancer-section__carrousel">
        <div class="swiper-wrapper md:pb-6">
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/nazila-amrin.jpg"
              name="Nazila Amrin"
              shortDescription="Monitors all Middle Eastern trends."
              longDescription="Expertise in beauty content creation & makeup educator - loves & swears by The Ordinary, Glow recipe watermelon moisturizer & Glowish range from Huda Beauty"
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/emmanuelle-bassmann.jpg"
              name="Emmanuelle Bassmann"
              shortDescription="Our founder."
              longDescription="Mainly works on aesthetic medicine. Pioneering and multi-cultural. Loves cacao, Bikram yoga and all things microbiome!"
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/annie-johnstone.jpg"
              name="Annie Johnstone"
              shortDescription="Usually stuck into a make-up report."
              longDescription="Passionate and creative. Loves matcha, all things colorful and a tretinoin that packs a punch"
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/soo-min.jpg"
              name="Soo Min"
              shortDescription="Korean freelancer."
              longDescription="Loves genderless beauty, sustainable sustainable makeup & skincare products and is obsessed with the brand Hince."
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/ming-ding.jpg"
              name="Ming Ding"
              shortDescription="Freelancer for the Chinese market."
              longDescription="Searching for freedom and diversity of the life. Loves marathon, croissant and Florasis's Floral Engraving Phoenix Makeup Palette."
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/tomoko-baba.jpg"
              name="Tomoko Baba"
              shortDescription="London-based make-up artist and Japanese cosmetics expert."
              longDescription="Loves Italian food, culture and lifestyle. Can't live without hair oil and feeling grateful for scented candles."
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/theresa-yee.jpg"
              name="Theresa Yee"
              shortDescription="Beauty & wellness journalist."
              longDescription="Fitness addict, endurance runner and skincare obsessed. Loves matcha green tea!"
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/charlotte-ballard.jpg"
              name="Charlotte Ballard"
              shortDescription="Lusually deep in research."
              longDescription="Obsessed with coffee and any beauty product that goes viral on TikTok (especially the Rare Beauty Soft Pinch Liquid Blushes)."
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/mary-li.jpg"
              name="Mary Li"
              shortDescription="The cosmetic science aficionado."
              longDescription="Mainly works on aesthetic medicine and skincare. Outgoing and flexible. Loves coffee, exploring good food and Kiehl's Clearly Corrective Dark Spot Solution."
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/joana-greimers.jpg"
              name="Joana Greimers"
              shortDescription="Beauty journalist and hair & make-up artist based in Munich, Germany."
              longDescription="Expert in #glowingskin from inside & outside. Loves a good morning workout, coffee with friends, texturizing hairsprays and is currently obsessed with Allies of Skin skincare."
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/angelika-zadranowicz.jpg"
              name="Angelika Zadranowicz"
              shortDescription="Always discovering new products and innovations."
              longDescription="Loves travelling, reading and the Byredo Mojave Ghost Perfume."
            />
          </div>
        </div>
      </div>

      <div class="flex justify-end gap-16 px-4 md:justify-between">
        <div
          class="swiper-button-prev hover:cursor-pointer"
          id="employee-and-freelancer-section__carrousel__button-prev"
        >
          <IconArrowLeftRounded class="h-auto w-12 text-brown-600 md:w-14" />
        </div>
        <div
          class="swiper-button-next hover:cursor-pointer"
          id="employee-and-freelancer-section__carrousel__button-next"
        >
          <IconArrowRightRounded class="h-auto w-12 text-brown-600 md:w-14" />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .employee-and-freelancer-section__carrousel__button--disabled svg {
    opacity: 0.5;
  }
</style>

<script>
  // TODO: add modular stuff
  import Swiper, { Autoplay, Navigation, FreeMode } from "swiper";
  import "swiper/css";

  new Swiper("#employee-and-freelancer-section__carrousel", {
    grabCursor: true,
    modules: [Autoplay, Navigation, FreeMode],
    autoplay: {
      delay: 5000,
    },
    slidesPerView: 1.5,
    navigation: {
      disabledClass:
        "employee-and-freelancer-section__carrousel__button--disabled",
      prevEl: "#employee-and-freelancer-section__carrousel__button-prev",
      nextEl: "#employee-and-freelancer-section__carrousel__button-next",
    },
    breakpoints: {
      768: {
        slidesPerView: 4,
      },
    },
  });
</script>
