---
interface Props {
  imgSrc: string;
  name: string;
  shortDescription: string;
  longDescription: string;
}
const { imgSrc, name, shortDescription, longDescription } = Astro.props;
---

<div>
  <img src={imgSrc} alt="" class="aspect-square h-60 rounded-xl object-cover" />
  <h3 class="mt-6 font-big-caslon text-2xl">{name}</h3>
  <p class="mt-1 text-sm text-rock-200">
    <span class="font-black">{shortDescription}</span>
    {longDescription}
  </p>
</div>
