---
import IconArrowLeftRounded from "../svgs/icons/IconArrowLeftRounded.astro";
import IconArrowRightRounded from "../svgs/icons/IconArrowRightRounded.astro";
import EmployeeAndFreelancerCard from "./EmployeeAndFreelancerCard.astro";
---

<section class="bg-beige-300">
  <div class="mx-auto max-w-screen-xl">
    <h1 class="sr-only">Who we are</h1>

    <!-- TODO: remove this padding -->
    <h2 class="px-5 pt-24 text-center text-xl font-bold md:pt-40 md:text-3xl">
      Some of our Employee and Freelancer Pool
    </h2>

    <div class="mt-12 pb-10 pl-5 md:px-5">
      <div class="swiper" id="employee-and-freelancer-section__carrousel">
        <div class="swiper-wrapper md:pb-6">
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/emmanuelle-bassmann.jpg"
              name="Emmanuelle Bassman"
              shortDescription="Our founder."
              longDescription="Mainly works on aesthetic medicine. Pioneering and multi-cultural. Loves cacao, Bikram yoga and all things microbiome!"
              class="employee-and-freelancer-card even-card"
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/annie-johnstone.jpg"
              name="Annie Johnstone."
              shortDescription="Usually stuck in a make-up or hair report."
              longDescription="Passionate and creative. Loves matcha, all things colorful and a tretinoin that packs a punch."
              class="employee-and-freelancer-card odd-card"
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/glendean-rehvan.jpg"
              name="Glendean Rehvan"
              shortDescription="Passionate about discovering innovation."
              longDescription="She has a penchant for wellness and how medicine influences the beauty market. Doctor-led skincare brands are her go-to products."
              class="employee-and-freelancer-card odd-card"
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/mary-li.jpg"
              name="Mary Li"
              shortDescription="The cosmetic science aficionado."
              longDescription="Outgoing and adaptable. Loves coffee, exploring good good and Kiehl's Corrective Dark Spot Solution."
              class="employee-and-freelancer-card even-card"
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/tomoko-baba.jpg"
              name="Tomoko Baba"
              shortDescription="Make-up artist and expert in all things Japanese cosmetics."
              longDescription="Loves Italian good, culture and lifestyle. Can't live without hair oil and scented candles."
              class="employee-and-freelancer-card odd-card"
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/angelika-zadranowicz.jpg"
              name="Angelika Zadranowicz"
              shortDescription="Always discovering new products."
              longDescription="Loves travelling, reading and the Byredo Mojave Ghost perfume."
              class="employee-and-freelancer-card even-card"
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/charlotte-ballard.jpg"
              name="Charlotte Ballard"
              shortDescription="Fantastic researcher."
              longDescription="Obsessed with coffee and any beauty product that goes viral on TikTok (especially the Rare Beauty Soft Pinch Liquid Blushes)."
              class="employee-and-freelancer-card odd-card"
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/joana-greimers.jpg"
              name="Joana Greimers"
              shortDescription="Expert in the German beauty market."
              longDescription="Loves making her skin glow from the inside, out. Enjoys morning workouts, coffee with friends and Allies of Skin skincare."
              class="employee-and-freelancer-card even-card"
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/theresa-yee.jpg"
              name="Theresa Yee"
              shortDescription="Wellness expert."
              longDescription="Fitness addict, endurance runner and skincare obsessed. Never without her matcha green tea!"
              class="employee-and-freelancer-card odd-card"
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/soo-min-yi.jpg"
              name="Soo Min Yi"
              shortDescription="Always researching the innovative Korean beauty market."
              longDescription="Loves genderless and sustainable beauty, and is obsessed with the brand Hince."
              class="employee-and-freelancer-card even-card"
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/ming-ding.jpg"
              name="Ming Ding"
              shortDescription="Expert in the Chinese beauty market."
              longDescription="Loves marathon running, croissants and Florasis' Floral Engraving Phoenix Makeup Palette."
              class="employee-and-freelancer-card odd-card"
            />
          </div>
          <div class="swiper-slide">
            <EmployeeAndFreelancerCard
              imgSrc="/images/who-we-are/employee-and-freelancer-pool/nazila-amrin.jpg"
              name="Nazila Amrin"
              shortDescription="Make-up artist and monitors all Middle Eastern trends."
              longDescription="Loves The Ordinary, Glow Recipe and anything from Huda Beauty! "
              class="employee-and-freelancer-card even-card"
            />
          </div>
        </div>
      </div>

      <div class="flex justify-end gap-16 px-4 md:justify-between">
        <div
          class="swiper-button-prev hover:cursor-pointer"
          id="employee-and-freelancer-section__carrousel__button-prev"
        >
          <IconArrowLeftRounded class="h-auto w-12 text-brown-600 md:w-14" />
        </div>
        <div
          class="swiper-button-next hover:cursor-pointer"
          id="employee-and-freelancer-section__carrousel__button-next"
        >
          <IconArrowRightRounded class="h-auto w-12 text-brown-600 md:w-14" />
        </div>
      </div>
    </div>
  </div>
</section>

<style is:global>
  .employee-and-freelancer-section__carrousel__button--disabled svg {
    opacity: 0.5;
  }

  .employee-and-freelancer-card {
    height: 486px;
  }

  .employee-and-freelancer-card.odd-card img {
    max-width: 100%;
    transition: max-width 0.6s ease;
  }

  .employee-and-freelancer-card.even-card img {
    max-width: 70%;
    transition: max-width 0.6s ease;
  }
</style>

<script>
  // TODO: add modular stuff
  import Swiper, { Autoplay, Navigation, FreeMode } from "swiper";
  import "swiper/css";

  const swiper = new Swiper("#employee-and-freelancer-section__carrousel", {
    grabCursor: true,
    modules: [Autoplay, Navigation, FreeMode],
    autoplay: {
      delay: 5000,
    },
    slidesPerView: 1.5,
    navigation: {
      disabledClass:
        "employee-and-freelancer-section__carrousel__button--disabled",
      prevEl: "#employee-and-freelancer-section__carrousel__button-prev",
      nextEl: "#employee-and-freelancer-section__carrousel__button-next",
    },
    loop: false,
    breakpoints: {
      600: {
        slidesPerView: 4,
      },
    },
  });

  let currentActiveSlideIndex = 0;

  swiper.on("slideChange", () => {
    const slides = swiper.slides;
    currentActiveSlideIndex = swiper.activeIndex;

    for (let i = 0; i < slides.length; i++) {
      const card = slides[i]!.querySelector(
        ".employee-and-freelancer-card"
      ) as HTMLDivElement;

      if (currentActiveSlideIndex % 2 == 0) {
        if (i % 2 === 0) {
          card.classList.replace("odd-card", "even-card");
        } else {
          card.classList.replace("even-card", "odd-card");
        }
      } else {
        if (i % 2 === 0) {
          card.classList.replace("even-card", "odd-card");
        } else {
          card.classList.replace("odd-card", "even-card");
        }
      }
    }
  });
</script>
