---
import IconOpenQuote from "../svgs/icons/IconOpenQuote.astro";

interface Props {
  imgSrc: string;
  quoteText: string;
  quoteAuthor: string;
}
const { imgSrc, quoteText, quoteAuthor } = Astro.props;
---

<div class="relative z-0 w-60 overflow-hidden rounded-3xl px-5 sm:w-80">
  <div class="pt-16 sm:pt-36">
    <IconOpenQuote class="mx-auto h-5 w-auto text-white" />
  </div>
  <img
    src=`${import.meta.env.BASE_URL}${imgSrc}`
    alt=""
    class="absolute left-0 top-0 -z-10 h-full w-full object-cover"
  />
  <p
    class="mt-12 text-center font-monsterrat text-sm leading-relaxed text-white sm:mt-8"
  >
    {quoteText}
  </p>
  <p
    class="mt-10 pb-16 text-center font-monsterrat font-semibold text-white sm:mt-6 sm:pb-36 sm:text-sm"
  >
    {quoteAuthor}
  </p>
</div>
