---
import Logo from "../svgs/Logo.astro";
import IconInstagram from "../svgs/icons/IconInstagram.astro";
import IconLinkedin from "../svgs/icons/IconLinkedin.astro";
---

<footer class="bg-brown-600 px-5 md:px-16">
  <div class="grid gap-10 pb-10 pt-10 md:grid-cols-4">
    <div class="md:col-span-2 md:grid md:content-between md:gap-20">
      <div class="flex gap-9 md:gap-4">
        <a href="https://www.instagram.com/intrendltd/" target="_blank">
          <IconInstagram class="text-white" />
          <span class="sr-only">Instagram</span>
        </a>
        <a
          href="https://www.linkedin.com/company/in-trend-ltd/mycompany/?viewAsMember=true"
          target="_blank"
        >
          <IconLinkedin class="text-white" />
          <span class="sr-only">Linked-In</span>
        </a>
      </div>
      <Logo class="hidden h-10 w-auto text-white md:block" />
    </div>

    <div class="md:grid md:content-between md:gap-20">
      <!-- TODO: remove margin hack -->
      <h2 class="text-xl uppercase text-white">Contact</h2>
      <div>
        <a
          href="mailto:hello@in-trend-ltd.com"
          class="block py-1 text-sm text-white">hello@in-trend-ltd.com</a
        >
        <a href="tel:+4407738204623" class="block py-1 text-sm text-white"
          >+44 (0) 77 3820 4623</a
        >
      </div>
    </div>

    <div class="md:grid md:content-between md:gap-20">
      <h2 class="text-xl uppercase text-white">Office</h2>
      <div>
        <p class="mt-1 font-bold text-white">In Trend Ltd.</p>
        <p class="mt-2 text-sm text-white">
          Plexal, Here East <br />
          Hackney Wick, London <br />
          E15 2GW <br />
          United Kingdom
        </p>
      </div>
    </div>

    <div class="block md:hidden">
      <a href="/">
        <Logo class="h-10 w-auto text-white" />
        <span class="sr-only">In-Trend</span>
      </a>
    </div>
  </div>
</footer>
