---
import Logo from "../svgs/Logo.astro";
import IconInstagram from "../svgs/icons/IconInstagram.astro";
import IconLinkedin from "../svgs/icons/IconLinkedin.astro";
---

<footer class="bg-brown-600 px-5 md:px-16">
  <div class="grid gap-10 pb-10 pt-10 md:grid-cols-4">
    <div class="md:col-span-2 md:grid md:content-between md:gap-20">
      <div class="flex gap-9 md:gap-4">
        <IconInstagram class="text-white" />
        <IconLinkedin class="text-white" />
      </div>
      <Logo class="hidden h-10 w-auto text-white md:block" />
    </div>

    <div class="md:grid md:content-between md:gap-20">
      <!-- TODO: remove margin hack -->
      <h2 class="font-monsterrat text-xl uppercase text-white">Contact</h2>
      <div>
        <a
          href="mailto:hello@in-trend-ltd.com"
          class="mt-2 block font-monsterrat text-sm text-white"
          >hello@in-trend-ltd.com</a
        >
        <a
          href="tel:+4407738204623"
          class="block font-monsterrat text-sm text-white"
          >+44 (0) 77 3820 4623</a
        >
      </div>
    </div>

    <div class="md:grid md:content-between md:gap-20">
      <h2 class="font-monsterrat text-xl uppercase text-white">Office</h2>
      <div>
        <p class="mt-1 font-monsterrat font-medium text-white">In Trend Ltd.</p>
        <p class="mt-1 font-monsterrat text-sm text-white">
          Plexal, Here East <br />
          Hackney Wick, London <br />
          E15 2GW <br />
          United Kingdom
        </p>
      </div>
    </div>

    <div class="block md:hidden">
      <Logo class="h-10 w-auto text-white" />
    </div>
  </div>
</footer>
