---
import Logo from "../svgs/Logo.astro";
import PillShapeLink from "./PillShapeLink.astro";
---

<section class="main-hero-section relative z-0">
  <!-- TODO: add image alt-->
  <!-- TODO: add image lazy-loading-->
  <!-- TODO: add image width and height to prevent layout shifting-->
  <!-- TODO: add fonts to this website-->
  <!-- TODO: (important) this image should come from the Slack zip file-->
  <!-- TODO: make this a single image?-->
  <picture>
    <source
      srcset="/images/index/main-desktop.webp"
      media="(min-width: 640px)"
    />
    <img
      src="/images/index/main-mobile.webp"
      class="absolute left-0 top-0 -z-20 h-full w-full object-cover"
      alt=""
    />
  </picture>

  <!-- Image overlay -->
  <div
    class="absolute left-0 top-0 -z-10 h-full w-full bg-brown-800 opacity-20"
  >
  </div>

  <div class="pt-40 sm:pt-80">
    <Logo class="mx-auto h-10 w-auto text-white sm:h-14" />
  </div>
  <!-- TODO: do we need to 'trend' this on mobile? -->
  <h1
    class="mx-auto mt-6 max-w-5xl break-words px-2 text-center text-6xl font-medium text-white sm:text-7xl"
  >
    Your beauty <span class="hidden sm:inline">trend</span> ideation and intelligence
    partner
  </h1>
  <p class="mt-6 text-center tracking-wide text-white sm:mt-8 sm:text-xl">
    We create for you, with you
  </p>
  <div class="mt-6 pb-20 text-center sm:pb-48">
    <PillShapeLink
      href="https://calendly.com/aj-intrend/30min"
      variant="light"
      title="Find out more"
    />
  </div>
</section>

<script>
  /* 
    References:
    https://www.youtube.com/watch?v=S_oLr_np4S8
    https://www.youtube.com/watch?v=T8EYosX4NOo
    https://www.youtube.com/watch?v=RxnV9Xcw914
    https://www.youtube.com/watch?v=2IbRtjez6ag
  */
  const mainHeroSection = document.querySelector(
    ".main-hero-section"
  ) as HTMLDivElement;

  const primaryNavWrapper = document.querySelector(
    ".primary-nav-wrapper"
  ) as HTMLDivElement;

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          primaryNavWrapper.classList.remove("force-dark-navbar");
        } else {
          primaryNavWrapper.classList.add("force-dark-navbar");
        }
      });
    },
    {
      rootMargin: "-100px",
    }
  );

  observer.observe(mainHeroSection);
</script>
