---
import ReportsSectionSlideBlock from "./ReportsSectionSlideBlock.astro";

// TODO: fix this prop
// TODO: make an object array for the client to add the pages more easily
---

<section class="bg-beige-400 px-4 lg:px-0">
  <div class="mx-auto max-w-screen-2xl">
    <h2
      class="pt-14 text-center text-2xl font-bold leading-tight text-brown-600 md:text-3xl"
    >
      What we're doing, where we are, what's going on?
    </h2>
    <p
      class="mx-auto mt-6 max-w-lg text-center text-sm leading-relaxed text-brown-600"
    >
      Take a sneak peek at our latest reports, the trade shows we've been to,
      the events we've attended...
    </p>

    <div class="mt-10 pb-8">
      <div class="swiper" id="reports-section__carrousel">
        <div class="swiper-wrapper max-lg:grid max-lg:gap-6">
          <!-- TODO: can we extract-out this component? -->
          <ReportsSectionSlideBlock />
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>

<!-- TODO: can we use global(#reports-section__carrousel) to make this even fancier? -->
<style is:global>
  /* ACTIVE PAGINATION */
  .reports-section__carrousel__swiper-pagination-bullet-active {
    background-color: #333333;
    opacity: 1;
  }

  /* REPORTS SECTION CARROUSEL */
  #reports-section__carrousel {
    padding-bottom: 2rem !important;
  }
</style>

<script>
  /*
   References 
   https://www.youtube.com/watch?v=li-ylRo7VEc 
   https://github.com/nolimits4web/swiper/issues/3175
   https://codepen.io/EFX/pen/xxKOwLw
   https://css-tricks.com/working-with-javascript-media-queries/
  */
  import Swiper, {
    EffectCoverflow,
    Autoplay,
    Pagination,
    Virtual,
  } from "swiper";
  import "swiper/css";
  import "swiper/css/effect-coverflow";
  import "swiper/css/pagination";

  let swiper: Swiper | undefined;

  const enableSwiper = () => {
    if (!swiper) {
      swiper = new Swiper("#reports-section__carrousel", {
        centeredSlides: true,
        grabCursor: true,
        initialSlide: 1,
        loop: false,
        spaceBetween: 100,
        modules: [EffectCoverflow, Autoplay, Pagination, Virtual],
        effect: "coverflow",
        coverflowEffect: {
          rotate: 0,
          depth: 100,
          modifier: 2.5,
          slideShadows: false,
        },
        autoplay: {
          delay: 5000,
        },
        breakpoints: {
          1024: {
            slidesPerView: 2.4,
          },
          1536: {
            slidesPerView: 2.437,
          },
        },
        pagination: {
          el: ".swiper-pagination",
          bulletActiveClass:
            "reports-section__carrousel__swiper-pagination-bullet-active",
          clickable: true,
        },
        virtual: {
          enabled: true,
        },
      });
    }
  };

  const disableSwiper = () => {
    if (swiper) {
      swiper.destroy();
      swiper = undefined;
    }
  };

  const mediaQuery = window.matchMedia("(min-width: 1024px)");
  if (mediaQuery.matches) {
    enableSwiper();
  }

  mediaQuery.addEventListener("change", (e) => {
    if (e.matches) {
      enableSwiper();
    } else {
      disableSwiper();
    }
  });
</script>
