---
import ReportCard from "./ReportCard.astro";

// TODO: fix this prop
// TODO: make an object array for the client to add the pages more easily
---

<section class="bg-beige-400 px-4 lg:px-0">
  <div class="mx-auto max-w-screen-2xl">
    <h2
      class="pt-14 text-center text-2xl font-bold leading-tight text-brown-600 md:text-3xl"
    >
      What we're doing, where we are, what's going on?
    </h2>
    <p
      class="mx-auto mt-6 max-w-lg text-center text-sm leading-relaxed text-brown-600"
    >
      Take a sneak peek at our latest reports, the trade shows we've been to,
      the events we've attended...
    </p>

    <div class="mt-10 pb-24">
      <div class="swiper" id="reports-section__carrousel">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <!-- TODO: this should match the JS breakpoint at 1024px below -->
            <ReportCard
              imgSrc="/images/index/reports/clean-beauty-in-london.jpg"
              sectionTitle="Out and about"
              title="Clean beauty in london"
              description="Annie spent the day at the Clean Beauty in London show at The Brewery near the Barbican. We loved how much Solid Beauty was on show - it truly has gone from eco-necessity to a product to be enjoyed."
              hasLink={true}
              linkTitle="Find out more"
              href="https://www.instagram.com/p/CroOUUFvvGx/"
            />
          </div>
          <div class="swiper-slide">
            <!-- TODO: host the PDF file on github -->
            <ReportCard
              imgSrc="/images/index/reports/the-future-of-lip.jpg"
              sectionTitle="Report"
              title="The Future of Lip"
              description="Having a strong lip portfolio is more important than ever, as this product category proves time and time again its recession-resilience. This report contains emerging textures and finishes, growing ingredients, how to address future lip beautification challenges and trends that will shape the category from 2023 and beyond."
              hasLink={true}
              linkTitle="Download pdf"
              href="#"
            />
          </div>
          <div class="swiper-slide">
            <ReportCard
              imgSrc="/images/index/reports/salon-smart-networking-and-speak-event.jpg"
              sectionTitle="Out and about"
              title="Salon smart networking"
              description="Emmanuelle headed down to Salon Smart last month. A business event for hair professionals, it was great to hear about the challenges hairdressers face, and meet lots of creatives."
              hasLink={true}
              linkTitle="Find out more"
              href="https://creativeheadmag.com/salon-smart-2023-the-event-delivering-proactive-advice-to-drive-your-business-forward/"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TODO: can we use global(#reports-section__carrousel) to make this even fancier? -->
<style is:global></style>

<script>
  // TODO: add modular stuff
  import Swiper from "swiper";
  import "swiper/css";

  new Swiper("#reports-section__carrousel", {});
</script>
