---
import ReportCard from "./ReportCard.astro";
---

<section class="bg-beige-400 px-4">
  <div class="mx-auto max-w-screen-xl">
    <h2
      class="pt-12 text-center text-2xl font-medium leading-tight tracking-wide text-brown-600"
    >
      What we're doing, where we are, what's going on?
    </h2>
    <p class="mt-4 text-center text-sm font-light text-brown-600">
      Take a sneak peek at our latest reports, the trade shows we've been to,
      the events we've attended etc.
    </p>

    <div class="splide" id="report-section__carrousel">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="mx-auto w-4/5">
              <ReportCard
                imgSrc="images/index/reports/clean-beauty-in-london.jpg"
                sectionTitle="Out and about"
                title="Clean beauty in london"
                description="Annie spent the day at the Clean Beauty in London show at The Brewery near the Barbican. We loved how much Solid Beauty was on show - it truly has gone from eco-necessity to a product to be enjoyed."
                hasLink={false}
                linkTitle="Find out more"
                href="#"
              />
            </div>
          </li>
          <li class="splide__slide">
            <!-- TODO: host the PDF file on github -->
            <div class="mx-auto w-4/5">
              <ReportCard
                imgSrc="images/index/reports/the-future-of-lip.jpg"
                sectionTitle="Report"
                title="The Future of Lip"
                description="Having a strong lip portfolio is more important than ever, as this product category proves time and time again its recession-resilience. This report contains emerging textures and finishes, growing ingredients, how to address future lip beautification challenges and trends that will shape the category from 2023 and beyond."
                hasLink={true}
                linkTitle="Download pdf"
                href="#"
              />
            </div>
          </li>
          <li class="splide__slide">
            <div class="mx-auto w-4/5">
              <ReportCard
                imgSrc="images/index/reports/salon-smart-networking-and-speak-event.jpg"
                sectionTitle="Out and about"
                title="Salon smart networking and speak event"
                description="Emmanuelle headed down to Salon Smart last month. A business event for hair professionals, it was great to hear about the challenges hairdressers face, and meet lots of creatives."
                hasLink={false}
                linkTitle="Find out more"
                href="#"
              />
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- <div id="report-section__carrousel-dots"></div> -->
  </div>
</section>

<style>
  #report-section__carrousel .splide__slide.is-active > div {
    width: 100%;
    height: 100%;
    background-color: red;
  }

  #report-section__carrousel .splide__slide.is-active article {
    width: 100%;
    height: 100%;
  }
</style>

<script>
  // TODO: add modular stuff
  import { Splide } from "@splidejs/splide";
  import "@splidejs/splide/dist/css/splide.min.css";

  // TODO: put this function into a shared/utils folder
  /*   const getElementByIdOrError = (id: string) => {
    const element = document.getElementById(id);

    if (element == null) {
      throw new Error(`Could not find element with id: ${id}`);
    }

    return element;
  };

  const reportSectionCarrousel = getElementByIdOrError(
    "report-section__carrousel"
  ) as HTMLDivElement; */
  new Splide("#report-section__carrousel", {
    perPage: 3,
    perMove: 1,
    type: "loop",
    interval: 1000,
    autoplay: false,
    focus: "center",
    breakpoints: {
      640: {
        destroy: true,
      },
    },
  }).mount();
  // splide.destroy();
</script>
