---
import LogoChristianDior from "../svgs/companies/LogoChristianDior.astro";
import LogoHenkel from "../svgs/companies/LogoHenkel.astro";
import LogoLauraMercier from "../svgs/companies/LogoLauraMercier.astro";
import LogoLoreal from "../svgs/companies/LogoLoreal.astro";
import IconArrowLeftRounded from "../svgs/icons/IconArrowLeftRounded.astro";
import IconArrowRightRounded from "../svgs/icons/IconArrowRightRounded.astro";
import TestimonialCard from "./TestimonialCard.astro";

// TODO: add json here to make it easy for the client to do this stuff?
---

<section
  class="relative z-0 bg-gradient-radial from-carrot-600 from-15% via-carrot-400 to-carrot-200 px-4"
>
  <p
    class="absolute inset-x-0 bottom-0 -z-10 text-center font-big-caslon text-7xl leading-3/5 text-white sm:text-9xl sm:leading-3/5 lg:text-12xl lg:leading-3/5 xl:text-14xl xl:leading-3/5"
  >
    Client Love
  </p>
  <!-- TODO: there's a different image on mobile and on desktop for one testimonial -->
  <div class="pb-20 pt-8 lg:pb-24 lg:pt-20">
    <div class="swiper" id="testimonials-section__carrousel">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <TestimonialCard
            imgSrc="/images/index/testimonials/jacques-valero.jpg"
            description="In-Trend is a factory of insights, informing us of the latest product claims and highly precious information to help us innovate. Their emerging new trends are always highly accurate, and very useful."
            author="-Jacques Valero"
            authorJobTitle="Parfums Responsible Innovation"
          >
            <LogoChristianDior class="mx-auto mt-4 h-auto w-40 text-white" />
          </TestimonialCard>
        </div>
        <div class="swiper-slide">
          <TestimonialCard
            imgSrc="/images/index/testimonials/kristi-sloe.jpg"
            description="In-Trend LTD is a valued partner in product innovation and trends. Our teams love their inspiring ideation workshops, which are becoming a crucial touchpoint in our product development process."
            author="-Kristi Sloe"
            authorJobTitle="Vice President Global Product Development"
          >
            <LogoLauraMercier class="mx-auto mt-4 h-auto w-40 text-white" />
          </TestimonialCard>
        </div>
        <div class="swiper-slide">
          <TestimonialCard
            imgSrc="/images/index/testimonials/isabelle-montferrand.jpg"
            description="In-Trend is a key partner in our innovation monitoring process. For many years, they have supported us in monitoring and decoding beauty innovations. All thanks to an expert, highly responsive and friendly team. Attentive to our needs, they constantly adapt and re-work their proposals and formats. Great relationship."
            author="-Isabelle Montferrand"
            authorJobTitle="Competitive Intelligence Innovation Direction"
          >
            <LogoLoreal class="mx-auto mt-4 h-auto w-40 text-white" />
          </TestimonialCard>
        </div>
        <div class="swiper-slide">
          <TestimonialCard
            imgSrc="/images/index/testimonials/edelina-natale.jpg"
            description="In-Trend's reporting on product launches and trends in both the Latin American & Asian hair markets, provides vital insights for our team."
            author="-Edelina Natale"
            authorJobTitle="Innovation & Trend Manager"
          >
            <LogoHenkel class="mx-auto mt-4 h-auto w-24 text-white" />
          </TestimonialCard>
        </div>
      </div>

      <div
        class="swiper-button-prev absolute left-16 top-1/2 z-10 hover:cursor-pointer"
        id="testimonials-section__carrousel__button-prev"
      >
        <IconArrowLeftRounded class="text-white" />
      </div>
      <div
        class="swiper-button-next absolute right-16 top-1/2 z-10 hover:cursor-pointer"
        id="testimonials-section__carrousel__button-next"
      >
        <IconArrowRightRounded class="text-white" />
      </div>
    </div>
  </div>
</section>

<style>
  /* NAVIGATION ARROWS */
  #testimonials-section__carrousel.swiper-navigation-disabled
    .swiper-button-prev {
    display: none;
  }
  #testimonials-section__carrousel.swiper-navigation-disabled
    .swiper-button-next {
    display: none;
  }
</style>

<script>
  // TODO: add modular stuff
  import Swiper, { Autoplay, Navigation } from "swiper";
  import "swiper/css";

  new Swiper("#testimonials-section__carrousel", {
    loop: true,
    grabCursor: true,
    modules: [Autoplay, Navigation],
    autoplay: {
      delay: 5000,
    },
    navigation: {
      enabled: false,
      prevEl: "#testimonials-section__carrousel__button-prev",
      nextEl: "#testimonials-section__carrousel__button-next",
    },
    spaceBetween: 50,
    breakpoints: {
      1024: {
        navigation: {
          enabled: true,
        },
        spaceBetween: 0,
      },
    },
  });
</script>
