---
import LogoChristianDior from "../svgs/companies/LogoChristianDior.astro";
import LogoHenkel from "../svgs/companies/LogoHenkel.astro";
import LogoLauraMercier from "../svgs/companies/LogoLauraMercier.astro";
import LogoLoreal from "../svgs/companies/LogoLoreal.astro";
import TestimonialCard from "./TestimonialCard.astro";
---

<section class="bg-carrot-300 px-4 pt-16">
  <!-- TODO: there's a different image on mobile and on desktop for one testimonial -->
  <div>
    <TestimonialCard
      imgSrc="images/index/testimonials/jacques-valero.jpg"
      description="In-Trend is a factory of insights, informing us of the latest product claims and highly precious information to help us innovate. Their emerging new trends are always highly accurate, and very useful."
      author="-Jacques Valero"
      authorJobTitle="Parfums Responsible Innovation"
    >
      <LogoChristianDior class="mx-auto mt-14 h-auto w-40 text-white" />
    </TestimonialCard>
    <TestimonialCard
      imgSrc="images/index/testimonials/kristi-sloe.jpg"
      description="In-Trend LTD is a valued partner in product innovation and trends. Our teams love their inspiring ideation workshops, which are becoming a crucial touchpoint in our product development process."
      author="-Kristi Sloe"
      authorJobTitle="Vice President Global Product Development"
    >
      <LogoLauraMercier class="mx-auto mt-14 h-auto w-40 text-white" />
    </TestimonialCard>
    <TestimonialCard
      imgSrc="images/index/testimonials/isabelle-montferrand.jpg"
      description="In-Trend is a key partner in our innovation monitoring process. For many years, they have supported us in monitoring and decoding beauty innovations. All thanks to an expert, highly responsive and friendly team. Attentive to our needs, they constantly adapt and re-work their proposals and formats. Great relationship."
      author="-Isabelle Montferrand"
      authorJobTitle="Competitive Intelligence Innovation Direction"
    >
      <LogoLoreal class="mx-auto mt-14 h-auto w-40 text-white" />
    </TestimonialCard>
    <TestimonialCard
      imgSrc="images/index/testimonials/edelina-natale.jpg"
      description="In-Trend's reporting on product launches and trends in both the Latin American & Asian hair markets, provides vital insights for our team."
      author="-Edelina Natale"
      authorJobTitle="Innovation & Trend Manager"
    >
      <LogoHenkel class="mx-auto mt-14 h-auto w-24 text-white" />
    </TestimonialCard>
  </div>
</section>

<script></script>
