---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={title} />

    <!-- Fonts -->
    <!-- TODO: this into a separate folder -->
    <style>
      /* Generator:  https://www.fontsquirrel.com/tools/webfont-generator */

      /* AVENIR */
      @font-face {
        font-family: "Avenir";
        font-weight: 900;
        font-style: normal;
        font-display: swap;
        src: url("/in-trend/fonts/avenir/black.woff2") format("woff2");
      }

      @font-face {
        font-family: "Avenir";
        font-weight: 700;
        font-style: normal;
        font-display: swap;
        src: url("/in-trend/fonts/avenir/bold.woff2") format("woff2");
      }

      @font-face {
        font-family: "Avenir";
        font-weight: 500;
        font-style: normal;
        font-display: swap;
        src: url("/in-trend/fonts/avenir/medium.woff2") format("woff2");
      }

      @font-face {
        font-family: "Avenir";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url("/in-trend/fonts/avenir/normal.woff2") format("woff2");
      }

      /* BIG CASLON */
      @font-face {
        font-family: "Big Caslon";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url("/in-trend/fonts/big-caslon/normal.woff2") format("woff2");
      }
    </style>

    <!-- TODO: get right favicon (maybe we can use the in-trend small logo) -->
    <link
      rel="icon"
      type="image/svg+xml"
      href=`${import.meta.env.BASE_URL}favicon.svg`
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /* Add global anti-aliasing */
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
