---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- SEO Tags -->
    <!-- https://www.socialmediatoday.com/news/8-of-the-most-important-html-tags-for-seo/574987/ -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

    <meta name="robots" content="index, archive" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <link rel="canonical" href={import.meta.env.SITE} />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />

    <title>{title}</title>

    <!-- Fonts -->
    <!-- TODO: this into a separate folder -->
    <style>
      /* Generator:  https://www.fontsquirrel.com/tools/webfont-generator */

      /* AVENIR */
      @font-face {
        font-family: "Avenir";
        font-weight: 900;
        font-style: normal;
        font-display: swap;
        src: url("/fonts/avenir/black.woff2") format("woff2");
      }

      @font-face {
        font-family: "Avenir";
        font-weight: 700;
        font-style: normal;
        font-display: swap;
        src: url("/fonts/avenir/bold.woff2") format("woff2");
      }

      @font-face {
        font-family: "Avenir";
        font-weight: 500;
        font-style: normal;
        font-display: swap;
        src: url("/fonts/avenir/medium.woff2") format("woff2");
      }

      @font-face {
        font-family: "Avenir";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url("/fonts/avenir/normal.woff2") format("woff2");
      }

      /* BIG CASLON */
      @font-face {
        font-family: "Big Caslon";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url("/fonts/big-caslon/normal.woff2") format("woff2");
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /* Add global anti-aliasing */
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
